html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Varela Round", san-serif;
  margin: 0px;
  min-height: 100%;
  width: 100%;
  &.day {
    background-image: url('bg.jpg');
    .weatherbox {
      background-color: rgba(8,8,8,0.6);
      border: 1px solid black;
      color: #F7F4EB;
    }
    h1, .date {
      color: #151514;
      text-shadow: 1px 1px 2px #DAD3CD;
    }
  }
  &.night {
    background-image: url('bgnight.jpg');
    .weatherbox {
      background-color: rgba(234, 234, 234, 0.6);
      border: 1px solid white;
      color: #39434e;
    }
    h1, .date {
      color: #DAD3CD;
      text-shadow: 1px 1px 2px #151514;
    }
  }
}
.container {
  padding-bottom: 20px;
  opacity: 0;
  h1 {
    margin-top: 0;
    font-family: "Cabin", san-serif;
    font-weight: 700;
  }
  .date p {
    font-size: 18px;
  }
}

.weatherbox {
  padding: 10px;
  border-radius: 6px;
  display: table;
  text-align: center;
  p {
    text-transform: uppercase;
    span {
      font-family: "Montserrat", sans-serif;
      text-transform: lowercase;
    }
  }
  .desc {
    font-family: "Montserrat", sans-serif;
  }
  .info, .weather, .wind {
    display: table-cell;
    padding: 20px 20px 10px;
    vertical-align: middle;
    text-align: center;
    p.small {
      font-size: 60%;
      font-family: "Cabin", sans-serif;
      font-weight: 700;
    }
    .temp {
      font-size: 32px;
      p {
        line-height: 70%;
        margin-bottom: 20px;
        span {
          font-size: 20px;
        }
        &.small {
          margin-bottom: 10px;
          line-height: initial;
        }
      }
    }
    .humidity, .windspeed {
      font-size: 26px;
      p {
        line-height: 70%;
        span {
          font-size: 16px;
        }
        &.small {
          margin-bottom: 10px;
          line-height: initial;
        }
      }
    }
    .winddir {
      margin-bottom: 10px;
      .glyphicon {
        font-size: 50px;
      }
    }
  }
  .city {
    display: table-row;
    text-align: center;
    p {
      display: table-cell;
      text-align: center;
      font-size: 26px;
      border-bottom: 1px solid grey;
      padding-bottom: 10px;
    }
  }
  .icon img {
    width: 100%;
  }
}
button {
  margin: 20px;
}